/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.scroll-down-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-down-button:hover {
    background-color: #555;
}

.arrow-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.scroll-down-button:hover .arrow-icon {
    transform: translateX(5px); /* Move arrow icon slightly on hover */
}
